doctype html
<!--[if lt IE 7]<html lang="en" class="no-js oldie lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="en" class="no-js oldie lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="en" class="no-js oldie lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
html(class='no-js')
    <!--<![endif]-->
    head
        meta(charset='utf-8')
        <!--[if IE]><!-->
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        <!--[endif]-->
        title Terms of Service
        meta(name='description', content='')
        link(rel='stylesheet', href='http://css.agiletoolkit.org/css/theme.css')
    body
        include variables
        include browsehappy
        div.atk-layout
            div.atk-layout-row
                div.atk-layout-cell.atk-swatch-ink
                    div.atk-wrapper.atk-section-small
                        h1.atk-align-center Romans Malinovskis
            div.atk-layout-row.atk-layout-fluid.atk-layout-expand.atk-swatch-white
                div.atk-layout.atk-layout-cell
                    div.atk-layout-column.atk-layout-fluid
                        div.atk-section.atk-swatch-gray.atk-align-center
                            div.atk-wrapper
                                p
                                    | IT Professional living near London and seeking perfection.
                        div.atk-section.atk-swatch-white.atk-row
                            .atk-col-4.atk-wrapper
                                h2.atk-align-center Freelance Consultant
                                ul
                                    li Specialize in Software Architecture, Cloud deployments and Frameworks.
                                    li Professional experience since 1995
                                    li Available for hire for part-time, hourly-based consultancy

                            .atk-col-4.atk-wrapper

                                h2.atk-align-center Outsourcing Specialist
                                ul
                                    li Developer team I have recruited and trained will build your app.
                                    li Located in East Europe, established 2004. Extremely skilled.
                                    li Available for Quote-based Web and Mobile projects.

                            .atk-col-4.atk-wrapper

                                h2.atk-align-center Contributor and Enterpreneur
                                ul
                                    li Author of a popular OpenSource framework AgileToolkit.org
                                    li CTO experience with some London and Dublin-based startups.
                                    li Active knowledge and code contributer @stackoverflow and @github.

                        div.atk-swatch-white.atk-row
                            .atk-col-4.atk-wrapper
                                .atk-align-center
                                    a.atk-button.atk-swatch-green(href="https://uk.linkedin.com/in/romansmalinovskis") Explore Skills

                            .atk-col-4.atk-wrapper
                                .atk-align-center
                                    a.atk-button.atk-swatch-green(href="http://agile55.com/") Team Agile55
                            .atk-col-4.atk-wrapper
                                .atk-align-center
                                    a.atk-button.atk-swatch-green(href="http://agiletoolkit.org/") Agile Toolkit

            div.atk-layout-row.atk-swatch-gray
                div.atk-layout-cell
                    div.atk-wrapper.atk-section-small.atk-cells.atk-cells-gutter
                        .atk-cell.atk-text-nowrap
                            a(href="#{homepage}")
                                i.icon-home
                                | &nbsp;Home
                        .atk-cell.atk-text-nowrap
                            a(href="mailto:DONT-SPAM.me@nearly.guru")
                                i.icon-mail
                                | &nbsp;Say "Hello"
                        .atk-cell.atk-text-nowrap
                            | Explore:&nbsp;
                            a(href="http://github.com/romaninsh")
                                i.icon-github-1
                            | &nbsp;
                            a(href="http://twitter.com/romaninsh")
                                i.icon-twitter-1
                            | &nbsp;
                            a(href="http://stackoverflow.com/users/204819/romaninsh")
                                i.icon-chat-1
                        .atk-cell.atk-jackscrew &nbsp;
                        .atk-cell.atk-text-nowrap
                            a(href="#{github}")
                                i.icon-html5
                                | &nbsp;See Source
