doctype html
<!--[if lt IE 7]<html lang="en" class="no-js oldie lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="en" class="no-js oldie lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="en" class="no-js oldie lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
html(class='no-js')
    <!--<![endif]-->
    head
        meta(charset='utf-8')
        <!--[if IE]><!-->
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        <!--[endif]-->
        title Terms of Service
        meta(name='description', content='')
        link(rel='stylesheet', href='http://css.agiletoolkit.org/css/theme.css')
    body
        include variables
        include browsehappy
        div.atk-layout
            div.atk-layout-row
                div.atk-layout-cell.atk-swatch-ink
                    div.atk-wrapper.atk-section-small
                        h1.atk-align-center Romans Malinovskis
            div.atk-layout-row.atk-layout-fluid.atk-layout-expand
                div.atk-layout.atk-layout-cell
                    div.atk-layout-column.atk-layout-fluid
                        div.atk-section.atk-swatch-yellow.atk-align-center
                            div.atk-wrapper
                                p
                                    | IT Professional living near London and seeking perfection.
                        div.atk-section.atk-swatch-white.atk-row
                            .atk-col-4.atk-wrapper
                                h2.atk-align-center Freelance Consultant
                                ol
                                    li Specialize in Software Architecture, Cloud deployments and Frameworks.
                                    li Professional experience since 1995
                                    li Available for hire for part-time, hourly-based consultancy

                                .atk-align-center
                                    button.atk-button.atk-swatch-green Explore Skills

                            .atk-col-4.atk-wrapper

                                h2.atk-align-center Outsourcing Specialist
                                ol
                                    li Developer team I have recruited and trained will build your app.
                                    li Located in East Europe, established 2004. Extremely skilled.
                                    li Available for Quote-based Web and Mobile projects.

                                .atk-align-center
                                    button.atk-button.atk-swatch-green Agile55.com

                            .atk-col-4.atk-wrapper

                                h2.atk-align-center Contributor and Enterpreneur
                                ol
                                    li Author of a popular OpenSource framework AgileToolkit.org
                                    li CTO experience with some London and Dublin-based startups.
                                    li Active knowledge and code contributer @stackoverflow and @github.

                                .atk-align-center
                                    button.atk-button.atk-swatch-green AgileToolkit.org

            div.atk-layout-row
                div.atk-layout.atk-layout-cell
                        div.atk-section.atk-swatch-gray.atk-align-center
                            div.atk-wrapper
                                p
                                    | My other interests include cycling, squash and hanging out.
            div.atk-layout-row.atk-swatch-gray
                div.atk-layout-cell
                    div.atk-wrapper.atk-section-small.atk-cells
                        .atk-cell.atk-jackscrew
                            a(href="#{homepage}")
                                i.icon-home
                                | &nbsp;#{name}
                        .atk-cell.atk-text-nowrap
                            a(href="#{github}")
                                i.icon-github
                                | &nbsp;Fork this page

