name = "Romans Malinovskis"
homepage = "http://about.me/romaninsh"
skills = "software strategic planning, developer hires, training, relations, server administration, software development, integration, sub-contracting, documentation and specification writing"
github = "http://github.com/romaninsh/terms"
rate = "£50/h"
terms = "15"
hour_limit = "20"
