- var name = "Romans Malinovskis"
- var homepage = "http://nearly.guru"
- var skills = "software strategic planning, developer hires, training, relations, server administration, software development, integration, sub-contracting, documentation and specification writing"
- var github = "http://github.com/romaninsh/terms"
- var rate = "£50/h"
- var terms = "15"
- var hour_limit = "20"
