
<div class="atk-layout">
  <div class="atk-layout-row" id="header">
    <div class="atk-layout-cell">
      <header class="atk-swatch-darkGray">
        <div class="atk-wrapper atk-padding-vertical">
          <div class="atk-cells">
            <div class="atk-cell">
              <div class="atk-actions-xlarge"><a href="{page}/{/}"><span class="icon-home-outline"></span></a><a href="{page}about{/}">About Me </a><a href="{page}devops{/}">DevOps</a><a href="{page}open-source{/}">Open Source</a><a href="{page}blog{/}">Blog</a></div>
            </div>
            <div class="atk-cell atk-align-right"><a href="{page}contact{/}">Contact Me</a></div>
          </div>
        </div>
      </header>
    </div>
  </div>
  <div class="atk-layout-row atk-layout-expand" id="content">
    <div class="atk-layout atk-layout-cell">
      <div class="atk-layout-column atk-layout-expand">{IndexHeader}
        <section class="atk-swatch-darkGray atk-background-cover header-push" id="hero" style="background-image:url(temp/romans.jpg)">
          <div class="atk-wrapper atk-padding-vertical-xlarge">
            <div class="atk-align-center">
              <div class="atk-push-large atk-text-baseline-reset">
                <div class="atk-size-yotta2 atk-text-caps font-amatic atk-push">Romans Malinovskis</div>
                <div class="atk-text-lead atk-size-mega"><span>Coding</span><span class="atk-sep-xlarge atk-swatch-orange-text">/</span><span>DevOps</span><span class="atk-sep-xlarge atk-swatch-orange-text">/</span><span>Cycling</span></div>
              </div>
              <p class="who-am-i">Contributor and maintainer of <a href="https://www.openhub.net/accounts/romaninsh" target="_blank">many open-source projects</a> and
                freelance <a href="{page}devops{/}">DevOps consultant</a>. 
                Passionate about <a href="https://www.strava.com/athletes/6086659" target="_blank">cycling</a> and Teaching Web Development in School.
              </p>
            </div>
          </div>
        </section>{/}
        <section class="atk-padding-vertical-xlarge">
          <div class="atk-wrapper">{$Content}</div>
        </section>
      </div>
    </div>
  </div>
  <div class="atk-layout-row" id="footer">
    <div class="atk-layout-cell">
      <hr class="atk-hr-reset"/>
      <div class="atk-wrapper atk-padding-vertical atk-text-baseline-reset atk-text-dimmed atk-cells atk-cells-gutter">
        <div class="atk-cell atk-text-nowrap"><a href="{page}contact{/}"><i class="icon-mail"></i>&nbsp;Say "Hello"</a></div>
        <div class="atk-cell atk-text-nowrap">Explore:&nbsp;<a href="http://github.com/romaninsh" target="_blank"><i class="icon-github"></i></a>&nbsp;<a href="http://twitter.com/romaninsh" target="_blank"><i class="icon-twitter"></i></a>&nbsp;<a href="http://stackoverflow.com/users/204819/romaninsh" target="_blank"><i class="icon-stackoverflow"></i></a>&nbsp;<a href="http://linkedin.com/in/romansmalinovskis" target="_blank"><i class="icon-linkedin"></i></a></div>
        <div class="atk-cell atk-jackscrew">&nbsp;</div>
        <div class="atk-cell atk-text-nowrap"><a href="http://www.agiletoolkit.org/"><i class="icon-atk"></i>&nbsp;Made with Agile Toolkit</a></div>
      </div>
    </div>
  </div>
</div>