
<div class="atk-layout">
  <div class="atk-layout-row atk-swatch-ink">
    <div class="atk-layout-cell">
      <div class="atk-wrapper atk-cells">
        <div class="atk-cell atk-expand">
          <ul class="atk-menu-horizontal">
            <li><a href="{page}about{/}" class="atk-padding-small">About Me </a></li>
            <li><a href="{page}blog{/}" class="atk-padding-small">Blog</a></li>
            <li><a href="{page}open-source{/}" class="atk-padding-small">Open Source</a></li>
            <li><a href="{page}public-speaking{/}" class="atk-padding-small">Public Speaking</a></li>
          </ul>
        </div>
        <div class="atk-cell atk-expand atk-text-nowrap"><a href="{page}contact{/}" class="atk-padding-small">Contact</a></div>
      </div>
    </div>
  </div>
  <div class="atk-layout-row atk-swatch-gray">
    <div class="atk-layout-cell">
      <div class="atk-wrapper atk-align-center atk-padding">
        <h1>Romans Malinovskis</h1>
        <h2>Developer - Architect - Inventor</h2>
        <p>github.com/romaninsh - linkedin.com/RomansMalinovskis</p>
      </div>
    </div>
  </div>
  <div class="atk-layout-row atk-layout-fluid atk-layout-expand"> 
    <div class="atk-layout-cell">
      <div class="atk-wrapper atk-padding">{$Content}</div>
    </div>
  </div>
  <div class="atk-layout-row atk-swatch-gray atk-text-inherit">
    <div class="atk-layout-cell">
      <div class="atk-wrapper atk-section-small atk-cells atk-cells-gutter">
        <div class="atk-cell atk-text-nowrap"><a href="undefined"><i class="icon-home"></i>&nbsp;Home</a></div>
        <div class="atk-cell atk-text-nowrap"><a href="mailto:DONT-SPAM.me@nearly.guru"><i class="icon-mail"></i>&nbsp;Say "Hello"</a></div>
        <div class="atk-cell atk-text-nowrap">Explore:&nbsp;<a href="http://github.com/romaninsh" target="_blank"><i class="icon-github-1"></i></a>&nbsp;<a href="http://twitter.com/romaninsh" target="_blank"><i class="icon-twitter-1"></i></a>&nbsp;<a href="http://stackoverflow.com/users/204819/romaninsh" target="_blank"><i class="icon-chat-1"></i></a>&nbsp;<a href="http://linkedin.com/in/romansmalinovskis" target="_blank"><i class="icon-linkedin"></i></a></div>
        <div class="atk-cell atk-jackscrew">&nbsp;</div>
        <div class="atk-cell atk-text-nowrap"><a href="undefined"><i class="icon-html5"></i>&nbsp;See Source</a></div>
      </div>
    </div>
  </div>
</div>