
<div class="atk-layout">
  <div class="atk-layout-row">
    <div class="atk-layout-cell atk-swatch-ink atk-text-inherit">
      <div class="atk-wrapper atk-section-small">
        <h1 class="atk-align-center">Romans Malinovskis</h1>
      </div>
    </div>
  </div>
  <div class="atk-layout-row atk-layout-fluid atk-layout-expand">{$Content}</div>
  <div class="atk-layout-row atk-swatch-gray atk-text-inherit">
    <div class="atk-layout-cell">
      <div class="atk-wrapper atk-section-small atk-cells atk-cells-gutter">
        <div class="atk-cell atk-text-nowrap"><a href="undefined"><i class="icon-home"></i>&nbsp;Home</a></div>
        <div class="atk-cell atk-text-nowrap"><a href="mailto:DONT-SPAM.me@nearly.guru"><i class="icon-mail"></i>&nbsp;Say "Hello"</a></div>
        <div class="atk-cell atk-text-nowrap">Explore:&nbsp;<a href="http://github.com/romaninsh" target="_blank"><i class="icon-github-1"></i></a>&nbsp;<a href="http://twitter.com/romaninsh" target="_blank"><i class="icon-twitter-1"></i></a>&nbsp;<a href="http://stackoverflow.com/users/204819/romaninsh" target="_blank"><i class="icon-chat-1"></i></a>&nbsp;<a href="http://linkedin.com/in/romansmalinovskis" target="_blank"><i class="icon-linkedin"></i></a></div>
        <div class="atk-cell atk-jackscrew">&nbsp;</div>
        <div class="atk-cell atk-text-nowrap"><a href="undefined"><i class="icon-html5"></i>&nbsp;See Source</a></div>
      </div>
    </div>
  </div>
</div>