.atk-layout
    .atk-layout-row.atk-swatch-ink
        .atk-layout-cell
            .atk-wrapper.atk-cells
                .atk-cell.atk-expand
                    ul.atk-menu-horizontal
                        li
                            a(href="{page}about{/}").atk-padding-small About Me 
                        li
                            a(href="{page}blog{/}").atk-padding-small Blog
                        li
                            a(href="{page}open-source{/}").atk-padding-small Open Source
                        li
                            a(href="{page}public-speaking{/}").atk-padding-small Public Speaking
                .atk-cell.atk-expand.atk-text-nowrap
                    a(href="{page}contact{/}").atk-padding-small Contact
                    
    .atk-layout-row.atk-swatch-gray
        .atk-layout-cell
            .atk-wrapper.atk-align-center.atk-padding
                h1 Romans Malinovskis
                h2 Developer - Architect - Inventor
                p github.com/romaninsh - linkedin.com/RomansMalinovskis
                
    .atk-layout-row.atk-layout-fluid.atk-layout-expand 
        .atk-layout-cell
            .atk-wrapper.atk-padding {$Content}
                

    div.atk-layout-row.atk-swatch-gray.atk-text-inherit
        div.atk-layout-cell
            div.atk-wrapper.atk-section-small.atk-cells.atk-cells-gutter
                .atk-cell.atk-text-nowrap
                    a(href="#{homepage}")
                        i.icon-home
                        | &nbsp;Home
                .atk-cell.atk-text-nowrap
                    a(href="mailto:DONT-SPAM.me@nearly.guru")
                        i.icon-mail
                        | &nbsp;Say "Hello"
                .atk-cell.atk-text-nowrap
                    | Explore:&nbsp;
                    a(href="http://github.com/romaninsh" target="_blank")
                        i.icon-github-1
                    | &nbsp;
                    a(href="http://twitter.com/romaninsh" target="_blank")
                        i.icon-twitter-1
                    | &nbsp;
                    a(href="http://stackoverflow.com/users/204819/romaninsh" target="_blank")
                        i.icon-chat-1
                    | &nbsp;
                    a(href="http://linkedin.com/in/romansmalinovskis" target="_blank")
                        i.icon-linkedin
                .atk-cell.atk-jackscrew &nbsp;
                .atk-cell.atk-text-nowrap
                    a(href="#{github}")
                        i.icon-html5
                        | &nbsp;See Source
